<!DOCTYPE html>
<html>
  <head>
    <title>Bilety</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary" >
  <a class="navbar-brand" href="/events" style="color: white">Events</a>
  <a class="navbar-brand" href="/tickets" style="color: white">Tickets</a>
  <p class="navbar-text pull-right"> <% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>.
  <% if current_user.isAdmin%>
  ADMIN
  <% end%>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link ', :style => 'color: white; text-decoration: none' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link', :style => 'color: white; text-decoration: none'%>
<% else %>
<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', :style => 'color: white'%> | <%= link_to "Login", new_user_session_path, :class => 'navbar-link', :style => 'color: white; text-decoration: none' %>
<% end %> </p>
</nav>
   

  <% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
 <p class="alert alert-danger"><%= alert %></p> <% end %>
    <%= yield %>
  </body>
</html>
